<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="defaultPattern">%highlight{%d{ABSOLUTE} [%c{1}] %msg%n%throwable}{INFO=default}</Property>
        <Property name="childStdOutPattern">> %style{%msg{ansi}}{bright}%n</Property>
        <Property name="childStdErrPattern">> %style{%msg}{red}%n</Property>
        <Property name="logFlusherPattern">[:] %style{%msg{ansi}}%n</Property>
        <Property name="logFolder">${sys:tlauncher.logFolder:-${sys:user.home}/.tl/logs}</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8">
                <MarkerPatternSelector defaultPattern="${defaultPattern}">
                    <PatternMatch key="child_stdout" pattern="${childStdOutPattern}"/>
                    <PatternMatch key="child_stderr" pattern="${childStdErrPattern}"/>
                    <PatternMatch key="log_flusher" pattern="${logFlusherPattern}"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>
        <RollingFile name="file" fileName="${logFolder}/launcher.log" filePattern="${logFolder}/launcher.log.%i">
            <PatternLayout charset="UTF-8">
                <MarkerPatternSelector defaultPattern="${defaultPattern}">
                    <PatternMatch key="child_stdout" pattern="${childStdOutPattern}"/>
                    <PatternMatch key="child_stderr" pattern="${childStdErrPattern}"/>
                    <PatternMatch key="log_flusher" pattern="${logFlusherPattern}"/>
                </MarkerPatternSelector>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="12 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <SwingLogger name="swingLogger">
            <PatternLayout charset="UTF-8">
                <MarkerPatternSelector defaultPattern="> [%c{1}] %msg%n%throwable">
                    <PatternMatch key="child_stdout" pattern=">> %msg%n"/>
                    <PatternMatch key="child_stderr" pattern="[STDERR] >> %msg%n"/>
                    <PatternMatch key="log_flusher" pattern="[:] %msg%n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </SwingLogger>
    </Appenders>
    <Loggers>
        <Logger name="ru.turikhay" level="debug" />
        <Logger name="net.minecraft" level="debug" />
        <Logger name="ru.turikhay.tlauncher.user.minecraft" level="trace" />
        <Root level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
            <AppenderRef ref="swingLogger" />
        </Root>
    </Loggers>
</Configuration>
