out/
build/
*/target/

meta.json
proguard.log

*/src/main/resources/**/meta.json

**/Thumbs.db
**/.DS_Store

/lib/*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IDEA may break if committed from newer versions or when левая пятка breaks everything.
.idea/*
!.idea/encodings.xml
!.idea/runConfigurations

logs/

# Дарова, Eclipse (и VSCode)
.settings/
*/bin/
