/build
/target
/bin/gcov.exe
/bin/mingw32-gcc-nm.exe
/bin/mingwm10.dll
/bin/pthreadGC2.dll
/bin/ld.exe
/bin/gdbserver.exe
/bin/mingw32-c++.exe
/bin/strings.exe
/bin/libmpc-3.dll
/bin/windmc.exe
/bin/gcc-ranlib.exe
/bin/libssp-0.dll
/bin/windres.exe
/bin/gprof.exe
/bin/libstdc++-6.dll
/bin/nm.exe
/bin/dlltool.exe
/bin/pthreadGCE2.dll
/bin/libgmp-10.dll
/bin/mingw32-make.exe
/bin/gcc.exe
/bin/elfedit.exe
/bin/size.exe
/bin/libgmpxx-4.dll
/bin/libquadmath-0.dll
/bin/libiconv-2.dll
/bin/cpp.exe
/bin/c++filt.exe
/bin/mingw32-gcc-ranlib.exe
/bin/objdump.exe
/bin/ranlib.exe
/bin/cc.exe
/bin/libintl-8.dll
/bin/ar.exe
/bin/libgcc_s_dw2-1.dll
/bin/mingw32-gcc.exe
/bin/mingw32-gcc-ar.exe
/bin/strip.exe
/bin/mingw32-cc.exe
/bin/libcharset-1.dll
/bin/gcc-ar.exe
/bin/mingw32-g++.exe
/bin/readelf.exe
/bin/dllwrap.exe
/bin/g++.exe
/bin/mingw-get.exe
/bin/libgomp-1.dll
/bin/mingw32-gcc-4.8.1.exe
/bin/zlib1.dll
/bin/as.exe
/bin/ld.bfd.exe
/bin/objcopy.exe
/bin/c++.exe
/bin/gdb.exe
/bin/gcc-nm.exe
/bin/libmpfr-4.dll
/bin/addr2line.exe
/bin/ld
/bin/windres
